@import "./global.css";

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.slider-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 35px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}

.no-slider {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.slider {
    animation: slider 10s infinite;
    display: flex;
    height: 100%;
    position: relative;
    width: 500%;
}

@keyframes slider {
    0% {
        left: 168.2%;
    }

    15% {
        left: 168.2%;
    }

    25% {
        left: 1.55%;
    }

    45% {
        left: 1.55%;
    }

    70% {
        left: -165.1%;
    }

    85% {
        left: -165.1%;
    }

    100% {
        left: 168.2%;
    }
}

.slide {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    position: relative;
    width: 80%;
}

.slide-image {
    aspect-ratio: 16/9;
    border-radius: 10px;
    height: 357px;
    width: 500px;
}

.character-details {
    font-weight: 600;
    max-width: 350px;
    padding-bottom: 5%;
}

.character-details>p {
    color: #ffe81f;
    font-family: "Riffic";
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: left;
}

.character-details>p>span {
    color: #ffffff;
    font-family: "Lato Black Italic";
    font-size: 1.1rem;
    text-align: left;
}

.titles {
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    .slide img {
        height: 143px;
        width: 200px;
    }

    .character-details {
        max-width: 200px;
    }

    .titles {
        max-width: 200px;
    }
}